*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

html, body{
    width:100%;
    height: 100%;
}

#main{
    height:100%;
    width:100%;
    background-color: whitesmoke;
   
}

#navigation{
    padding: 10px 40px;

}
    

#navigation a{
    color: #111;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px; 
}

#main>h1{
    font-size: 100px;
    padding-left: 100px;
    padding-top: 20px;
    font-weight: 400;
    text-align: center;
}

#main h3{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}

#bottom{
    position: absolute;
    bottom:10%;
    left: 2%;
    
    
}

#bottom p{
    font-size: 15px;
    padding-left: 5%;
    font-size: 15px;
   
}
#bottom h4{
    font-size: 30px;
    left: 0;
    margin-bottom: 4px;
}

#bottombar {
    width: 100%;
    position:absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 10px 20px;
    padding-left: 5px;
    left:0;
    font-size: 10px;
    
}

#bottombar a{
    color: #111;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    
}
#main img{
    position: absolute;
    
}

#main #first{
    top: 28%;
    right: 25%;
    height: 350px;
}

#main #second{
    top: 32%;
    left: 32%;
    height: 280px;
}

#main #third{
    top: 60%;
    left: 42%;
    height: 200px;
}